// —————————————————————————   Font   ————————————————————————— //

$FONT_FAMILY: "Nunito", sans-serif;

// —————————————————————————   Colors   ————————————————————————— //

$FONT_COLOR: white;

$BUTTON_COLOR: #63b7af;
$BUTTON_COLOR_HOVER: #347474;
$BUTTON_COLOR_ACTIVE: #1b3f3f;
$MATCH_1: #ee8572;
$MATCH_2: #35495e;

$STROKE_COUNTRY: #838383;

$BACKGROUND_COLOR: #63b7af;
