// —————————————————————————   Body   ————————————————————————— //


// —————————————————————————   Link   ————————————————————————— //


// —————————————————————————   Colors   ————————————————————————— //

$light-background-color: #FFFFFF;
$dark-background-color:#071738;

$dark-blue-color:#2d3c5c;
$middle-blue-color:#4d669c;
$light-grey-color: rgb(199, 199, 199);

$font-grey-color: rgb(199, 199, 199);


// —————————————————————————   Font   ————————————————————————— //

$font-family-sans-serif: "Nunito", sans-serif;

$font-size-base: 0.9rem;

$line-height-base: 1.6;

// —————————————————————————   Sidebar   ————————————————————————— //

$sidebar-width: 2.375rem;

$search-width: 10rem;

$border-width: 1px;

$nav-item-length: 7rem;

$nav-height: 4rem;

