// —————————————————————————   Font   ————————————————————————— //

$font-family-sans-serif: "Nunito", sans-serif;

// —————————————————————————   Colors   ————————————————————————— //

$light-background-color: #FFFFFF;
$dark-background-color:#071738;

$dark-blue-color:#2d3c5c;
$middle-blue-color:#4d669c;
$light-grey-color: rgb(199, 199, 199);

$font-grey-color: rgb(199, 199, 199);

