// —————————————————————————   Import   ————————————————————————— //

@import 'variables';

@import url( 'https://fonts.googleapis.com/css?family=Nunito' );


// —————————————————————————   Main   ————————————————————————— //

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: white;
  color: $MATCH_2;

  display: -webkit-box !important;
}

body {
  font-family: $FONT_FAMILY;
  color: $FONT_COLOR;
}

// —————————————————————————   Text   ————————————————————————— //

.title {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap; 
}

.titleScore {
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap; 
}

.numbersScore {
  font-size: 1.3rem;
}

.article {
  font-size: 1rem;
}


// —————————————————————————   Map   ————————————————————————— //

.map {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $MATCH_2;
}

.country {
  cursor: pointer;
  opacity: 0.9;

  &:hover {
    stroke: $STROKE_COUNTRY !important;
    stroke-width: 2px !important;
  }
  
  &:active {
    stroke: $MATCH_1 !important;
    stroke-width: 2px !important;
  }
}

.countryActive {
  fill: #000000 !important;
}

// —————————————————————————   PopUp   ————————————————————————— //

.popUp {
  position: absolute;
  background-color: $BACKGROUND_COLOR;
  opacity: 0.8;
  border-radius: 15px;
  width: auto;
  height: auto;
  left: 50px;
  top: 30px;

  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
}

hr {
  border: 0;
  height: 1px;
  position: relative;
  width: 100%;
  background: white;
}

.popupHeader {
  margin: 20px 20px 5px 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}

.popupContainer {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}

.popupDate, .popupNumbers {
  padding-left: 30px;
}

// —————————————————————————   Score   ————————————————————————— //

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100px;
  top: 30px;
}

.score {
  display: flex;
  background-color: $BACKGROUND_COLOR;
  opacity: 0.8;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  height: 100px;
  width: auto;

  overflow-x: hidden;
  overflow-y: hidden;
}

.vline {
  border-left: 1px solid $FONT_COLOR;
  height: 100%;
}

.confirmed, .deaths, .recovered {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 40px;
}

// —————————————————————————   Settings   ————————————————————————— //

.dropdown {
  position: relative;
  display: inline-block;
}

.settingsMenu {
  display: none;
  position: absolute;
  z-index: 1;

  background-color: $BUTTON_COLOR;
  opacity: 0.8;
  border-radius: 15px;
  min-width: 120px;
  height: auto;

  padding: 20px;

  -webkit-transition: right .25s ease-out;
  -moz-transition: right .25s ease-out;
  -o-transition: right .25s ease-out;
  transition: right .25s ease-out;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & a {
    cursor: pointer;

  }

  & a:hover {
    opacity: 1;
  }
}


.toggled { 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
}

input[type='radio'] {
  background-color: yellowgreen;
}

.menuItem {
  text-align: center;
  padding: 10px;
}


// —————————————————————————   News   ————————————————————————— //


// —————————————————————————   Info   ————————————————————————— //

.info {
  -webkit-transition: right .25s ease-out;
  -moz-transition: right .25s ease-out;
  -o-transition: right .25s ease-out;
  transition: right .25s ease-out;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;

  background-color: $BACKGROUND_COLOR;
  opacity: 0.8;

  overflow-x: hidden;
  overflow-y: scroll;

  margin: 0px;
  padding: 0px;
  right: 2.5rem;
  top: 10%;
  height: 60vh;
  width: 15rem;

  // border: 1px solid $MATCH_2;
  
  border-radius: 15px;

  &.toggled {
    right: -18rem;
  }

  @media only screen and (max-width: 768px) { 
    -webkit-transition: top .25s ease-out;
    -moz-transition: top .25s ease-out;
    -o-transition: top .25s ease-out;
    transition: top .25s ease-out;
    
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  
    left: 20vw;
    top: 20vh;
    height: 15rem;
    width: 60vw;
  
    &.toggled {
      top: -18rem;
    }
  }
}

.menu {
  @extend .button;
  padding: 5px;
}

.content {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px;
  width: auto;
  height: auto;
}

// —————————————————————————   Controls   ————————————————————————— //

.controls {
  position: absolute;
  bottom: 15px;
  height: 50px;
  width: 99vw;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.button {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  outline: 0;
  background-color: $BUTTON_COLOR;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  vertical-align: middle;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;

  -webkit-transition: color 0.15s ease-in-out, 
  background-color 0.15s ease-in-out, 
  border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;
  
  transition: color 0.15s ease-in-out, 
  background-color 0.15s ease-in-out, 
  border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
  
  &:focus &:active {
    opacity: 1;
    background-color: $BUTTON_COLOR_ACTIVE !important;
  }

  &:disabled {
    opacity: 0.65;
    pointer-events: none;
  }
}

.controlLeft {
  height: 6rem;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.controlRight {
  height: 6rem;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.infoButton, .play, .pause, .next, .prev, .news, .settings {
  @extend .button;
  font-size: 3rem;
}

.infoButton, .play , .pause, .news, .settings{
  & i {
    font-size: 1.3rem !important;
  }
}

.play {
  & i {
    position: relative;
    left: 2px;
  }
}

.prev {
  & i {
    position: relative;
    left: -1px;
  }
}

.next {
  & i {
    position: relative;
    left: 1px;
  }
}

.date {
  @extend .button;
  cursor: default !important;

  width: 100px !important;

  &:hover {
    background-color: $BUTTON_COLOR !important;
  }
}

.timeline {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 5px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: relative;
  top: 2px;
  cursor: pointer;

  &:hover {
    opacity: 1; 
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none; 
    outline: none;
    appearance: none;
    width: 5px;
    height: 35px;
    border-radius: 3px;
    position: relative;
    bottom: 7px;
    background: $BUTTON_COLOR;
    cursor: pointer; 
  }
  
  &::-moz-range-thumb {
    width: 5px;
    height: 50px;
    background: $BUTTON_COLOR;
    outline: none;
    cursor: pointer; 
  }
}

.settings {
  @extend .button;
  font-size: 3rem;
}

i {
  font-size: 1.5rem;
}

.svgIcon {
  padding: 0;
  display: inline-flex;
  align-self: center;

  & svg {
    width: 0.8em;
    height: 0.8em;
  }

  &:hover {
    color: white;
    fill: white;
  }

  svg path,
  svg polygon,
  svg rect {
    color: white;
    fill: white;
  }

  svg circle {
    stroke: white;
    stroke-width: 1;
  }
}

.svg-baseline svg {
  top: .125em;
  position: relative;
}
