@import url("https://fonts.googleapis.com/css?family=Nunito");
html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
  color: #35495e;
  display: -webkit-box !important; }

body {
  font-family: "Nunito", sans-serif;
  color: white; }

.map {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #35495e; }

.country {
  cursor: pointer;
  opacity: 0.9; }
  .country:hover {
    stroke: black !important;
    stroke-width: 2px !important; }
  .country:active {
    stroke: green !important;
    stroke-width: 2px !important; }

.popUp {
  position: absolute;
  background-color: #63b7af;
  opacity: 0.8;
  border-radius: 15px;
  padding: 20px;
  width: 200px;
  height: 200px; }

.countryActive {
  fill: #000000 !important; }

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 75px;
  top: 30px; }

.score {
  display: flex;
  background-color: #63b7af;
  opacity: 0.8;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 75px;
  width: 450px;
  overflow-x: hidden;
  overflow-y: hidden; }

.confirmed, .deaths, .recovered {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 40px; }

.info {
  -webkit-transition: right .25s ease-out;
  -moz-transition: right .25s ease-out;
  -o-transition: right .25s ease-out;
  transition: right .25s ease-out;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  background-color: #63b7af;
  opacity: 0.8;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0px;
  padding: 0px;
  right: 2.5rem;
  top: 10%;
  height: 60vh;
  width: 15rem;
  border-radius: 15px; }
  .info.toggled {
    right: -18rem; }
  @media only screen and (max-width: 768px) {
    .info {
      -webkit-transition: top .25s ease-out;
      -moz-transition: top .25s ease-out;
      -o-transition: top .25s ease-out;
      transition: top .25s ease-out;
      position: fixed;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;
      left: 20vw;
      top: 20vh;
      height: 15rem;
      width: 60vw; }
      .info.toggled {
        top: -18rem; } }

.menu {
  padding: 5px; }

.content {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px;
  width: auto;
  height: auto; }

.controls {
  position: absolute;
  bottom: 15px;
  height: 50px;
  width: 99vw;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }

.button, .menu, .infoButton, .play, .next, .prev, .settings {
  display: inline-block;
  color: #63b7af;
  text-align: center;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,  border-color 0.15s ease-in-out,  box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,  border-color 0.15s ease-in-out,  box-shadow 0.15s ease-in-out; }
  .button:hover, .menu:hover, .infoButton:hover, .play:hover, .next:hover, .prev:hover, .settings:hover {
    color: #347474;
    text-decoration: none; }
  .button:focus, .menu:focus, .infoButton:focus, .play:focus, .next:focus, .prev:focus, .settings:focus {
    box-shadow: 0 0 0 0.2rem #1b3f3f; }
  .button:disabled, .menu:disabled, .infoButton:disabled, .play:disabled, .next:disabled, .prev:disabled, .settings:disabled {
    opacity: 0.65; }
  .button:disabled, .menu:disabled, .infoButton:disabled, .play:disabled, .next:disabled, .prev:disabled, .settings:disabled {
    pointer-events: none; }

.controlLeft {
  height: 6rem;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px; }

.controlRight {
  height: 6rem;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px; }

.infoButton {
  font-size: 3rem; }

.play {
  font-size: 3rem; }

.next {
  font-size: 3rem; }

.prev {
  font-size: 3rem; }

.settings {
  font-size: 3rem; }

.dateContainer {
  width: 100px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center; }

.date {
  position: relative !important;
  bottom: 2px !important;
  right: 2px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  width: 100px;
  height: 46px;
  background-color: #63b7af;
  border-radius: 1.5rem; }

.bar {
  fill: #5f89ad; }

.axis {
  font-size: 13px; }

.axis path,
.axis line {
  fill: none;
  display: none; }

.label {
  font-size: 13px; }

/*# sourceMappingURL=style.css.map */
