// —————————————————————————   Import   ————————————————————————— //

@import 'variables';

@import url( 'https://fonts.googleapis.com/css?family=Nunito' );


// —————————————————————————   Main   ————————————————————————— //

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: white;
  color: $MATCH_2;

  display: -webkit-box !important;
}

body {
  font-family: $FONT_FAMILY;
  color: $FONT_COLOR;
}

// —————————————————————————   Map   ————————————————————————— //

.map {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $MATCH_2;
}

// —————————————————————————   Score   ————————————————————————— //

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  top: 30px;
}

.score {
  display: flex;
  background-color: $BACKGROUND_COLOR;
  // border: solid 1px $MATCH_2;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  height: 10vh;
  width: minmax(30vw, 100px);

  overflow-x: hidden;
  overflow-y: hidden;
}

.deaths {
  margin: 10px;
}

.confirmed {
  margin: 10px;
}

.recovered {
  margin: 10px;
}

// —————————————————————————   Info   ————————————————————————— //

.info {
  -webkit-transition: right .25s ease-out;
  -moz-transition: right .25s ease-out;
  -o-transition: right .25s ease-out;
  transition: right .25s ease-out;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;

  background-color: $BACKGROUND_COLOR;

  overflow-x: hidden;
  overflow-y: scroll;

  margin: 0px;
  padding: 0px;
  right: 2.5rem;
  top: 10%;
  height: 60vh;
  width: 15rem;

  // border: 1px solid $MATCH_2;
  
  border-radius: 15px;

  &.toggled {
    right: -18rem;
  }

  @media only screen and (max-width: 768px) { 
    -webkit-transition: top .25s ease-out;
    -moz-transition: top .25s ease-out;
    -o-transition: top .25s ease-out;
    transition: top .25s ease-out;
    
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  
    left: 20vw;
    top: 2rem;
    height: 15rem;
    width: 60vw;
  
    &.toggled {
      top: -18rem;
    }
  }
}

// .info {
//   -webkit-transition: right .25s ease-out;
//   -moz-transition: right .25s ease-out;
//   -o-transition: right .25s ease-out;
//   transition: right .25s ease-out;

//   position: fixed;
//   display: flex;
//   justify-content: center;
//   align-items: stretch;
//   flex-wrap: nowrap;

//   background-color: $light-background-color;

//   overflow-x: hidden;
//   overflow-y: scroll;

//   margin: 0px;
//   padding: 0px;
//   right: 0px;
//   top: 10%;
//   height: 60vh;
//   width: 15rem;

//   border-left: 1px solid $light-grey-color;
//   border-top: 1px solid $light-grey-color;
//   border-bottom: 1px solid $light-grey-color;

//   border-radius: 25px 0px 0px 25px;

//   &.toggled {
//     right: -13rem;
//   }

//   @media only screen and (max-width: 768px) { 
//     -webkit-transition: top .25s ease-out;
//     -moz-transition: top .25s ease-out;
//     -o-transition: top .25s ease-out;
//     transition: top .25s ease-out;
    
//     position: fixed;
//     display: flex;
//     flex-direction: column-reverse;
//     justify-content: flex-start;
//     align-items: stretch;
//     flex-wrap: nowrap;
  
//     left: 20vw;
//     top: 0px;
//     height: 15rem;
//     width: 60vw;

//     border-left: 1px solid $light-grey-color;
//     border-right: 1px solid $light-grey-color;
//     border-bottom: 1px solid $light-grey-color;
//     border-top: none;
  
//     border-radius: 0px 0px 25px 25px;
  
//     &.toggled {
//       top: -13rem;
//     }
//   }
// }

// .info {
//   -webkit-transition: margin .25s ease-out;
//   -moz-transition: margin .25s ease-out;
//   -o-transition: margin .25s ease-out;
//   transition: margin .25s ease-out;

//   position: fixed;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: nowrap;

//   overflow-x: hidden;
//   overflow-y: scroll;

//   right: 0px;
//   top: 10%;
//   height: 60vh;
//   padding: 1rem;

//   border-left: 1px solid $light-grey-color;
//   border-top: 1px solid $light-grey-color;
//   border-bottom: 1px solid $light-grey-color;

//   border-radius: 25px 0px 0px 25px;

//   width: 15rem;

//   &.toggled {
//     right: -14.5rem;
//   }

//   @media only screen and (min-width: 768px) {
//     margin-right: 0rem;

//     &.toggled {
//       right: -14.5rem;
//     }
//   }
// }

// .button-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.menu {
  @extend .button;
  padding: 5px;
}

.content {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px;
  width: auto;
  height: auto;
}

// —————————————————————————   Controls   ————————————————————————— //

.controls {
  position: relative;
  height: 50px;
  width: 99vw;
  margin: 10px;
  top: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.button {
  display: inline-block;
  color: $BUTTON_COLOR;
  text-align: center;
  vertical-align: middle;
  outline: 0;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: none;

  -webkit-transition: color 0.15s ease-in-out, 
  background-color 0.15s ease-in-out, 
  border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, 
  background-color 0.15s ease-in-out, 
  border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;

  &:hover {
    color: $BUTTON_COLOR_HOVER;
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem $BUTTON_COLOR_ACTIVE;
  }

  &:disabled {
    opacity: 0.65;
  }

  &:disabled {
    pointer-events: none;
  }
}

.controlLeft {
  margin: 10px;
}

.controlRight {
  margin: 10px;
}

.infoButton {
  @extend .button;
  width: auto;
  height: auto;
  font-size: 3rem;
}

.play {
  @extend .button;
  font-size: 3rem;
}

.next {
  @extend .button;
  font-size: 3rem;
  
}

.prev {
  @extend .button;
  font-size: 3rem;

}

.timeline {

}

.settings {
  @extend .button;
  font-size: 3rem;
}

// —————————————————————————   Controls   ————————————————————————— //

.bar {
  fill: #5f89ad;
}

.axis {
  font-size: 13px;
}

.axis path,
.axis line {
  fill: none;
  display: none;
}

.label {
  font-size: 13px;
}