// —————————————————————————   Import   ————————————————————————— //

@import 'variables';

@import url( 'https://fonts.googleapis.com/css?family=Nunito' );


// —————————————————————————   Main   ————————————————————————— //

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: white;
  color: $MATCH_2;

  display: -webkit-box !important;
}

body {
  font-family: $FONT_FAMILY;
  color: $FONT_COLOR;
}

// —————————————————————————   Map   ————————————————————————— //

.map {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $MATCH_2;
}

.country {
  cursor: pointer;
  opacity: 0.9;

  &:hover {
    stroke: black !important;
    stroke-width: 2px !important;
  }
  
  &:active {
    stroke: $MATCH_1 !important;
    stroke-width: 2px !important;
  }
}

.popUp {
  position: absolute;
  background-color: $BACKGROUND_COLOR;
  opacity: 0.8;
  border-radius: 15px;
  padding: 20px;
  width: 200px;
  height: 200px;
}

.countryActive {
  fill: #000000 !important;
}

// —————————————————————————   Score   ————————————————————————— //

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 75px;
  top: 30px;
}

.score {
  display: flex;
  background-color: $BACKGROUND_COLOR;
  opacity: 0.8;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  height: 75px;
  width: 450px;

  overflow-x: hidden;
  overflow-y: hidden;
}

.confirmed, .deaths, .recovered {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 40px;
}

// —————————————————————————   Info   ————————————————————————— //

.info {
  -webkit-transition: right .25s ease-out;
  -moz-transition: right .25s ease-out;
  -o-transition: right .25s ease-out;
  transition: right .25s ease-out;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;

  background-color: $BACKGROUND_COLOR;
  opacity: 0.8;

  overflow-x: hidden;
  overflow-y: scroll;

  margin: 0px;
  padding: 0px;
  right: 2.5rem;
  top: 10%;
  height: 60vh;
  width: 15rem;

  // border: 1px solid $MATCH_2;
  
  border-radius: 15px;

  &.toggled {
    right: -18rem;
  }

  @media only screen and (max-width: 768px) { 
    -webkit-transition: top .25s ease-out;
    -moz-transition: top .25s ease-out;
    -o-transition: top .25s ease-out;
    transition: top .25s ease-out;
    
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  
    left: 20vw;
    top: 20vh;
    height: 15rem;
    width: 60vw;
  
    &.toggled {
      top: -18rem;
    }
  }
}

.menu {
  @extend .button;
  padding: 5px;
}

.content {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px;
  width: auto;
  height: auto;
}

// —————————————————————————   Controls   ————————————————————————— //

.controls {
  position: absolute;
  bottom: 15px;
  height: 50px;
  width: 99vw;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.button {
  display: inline-block;
  color: $BUTTON_COLOR;
  text-align: center;
  vertical-align: middle;
  outline: 0;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: none;

  -webkit-transition: color 0.15s ease-in-out, 
  background-color 0.15s ease-in-out, 
  border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, 
  background-color 0.15s ease-in-out, 
  border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;

  &:hover {
    color: $BUTTON_COLOR_HOVER;
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem $BUTTON_COLOR_ACTIVE;
  }

  &:disabled {
    opacity: 0.65;
  }

  &:disabled {
    pointer-events: none;
  }
}

.controlLeft {
  height: 6rem;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.controlRight {
  height: 6rem;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.infoButton {
  @extend .button;
  font-size: 3rem;
}

.play {
  @extend .button;
  font-size: 3rem;
}

.next {
  @extend .button;
  font-size: 3rem;
}

.prev {
  @extend .button;
  font-size: 3rem;
}

.timeline {

}

.settings {
  @extend .button;
  font-size: 3rem;
}

.dateContainer {
  width: 100px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  position: relative !important;
  bottom: 2px !important;
  right: 2px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  width: 100px;
  height: 46px;
  background-color: $BUTTON_COLOR;
  border-radius: 1.5rem;
}

// —————————————————————————   Controls   ————————————————————————— //

.bar {
  fill: #5f89ad;
}

.axis {
  font-size: 13px;
}

.axis path,
.axis line {
  fill: none;
  display: none;
}

.label {
  font-size: 13px;
}